{% extends "base.html" %}

{% block content %}
<div class="form col-md-6">
    <form action="{{url_for('create_ad')}}" method="post">
        <div class="dear">Dear <input class="line-input" name="dear" placeholder="San Francisco" maxlength="20">,</div>

        <div class="message"><textarea class="line-input" name="message" placeholder="Thanks for being a real pal!" maxlength="270"></textarea></div>

        <div class="love align-right">Love,</div>
        <div class="sender align-right"><input class="line-input" name="sender" placeholder="Airbnb" maxlength="26"></div>
        <div class="create align-right"><input class="btn" type="submit" value="Create"></div>
    </form>
</div>
{% endblock content %}
