.red-background {
    background-color: #ff5a5f;
}

.red-font, .red-font > a {
    color: #ff5a5f;
}

body {
    background-color: #f7f7f7;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.align-right {
    text-align: right;
}

a {
    color: #ff5a5f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.hero {
    text-align: center;
    padding: 10% 0;
    font-size: 24px;
}

.hero h1 {
    font-size: 72px;
}

.them {
    font-size: 90px;
}

.form, .ad-image {
    padding: 10% 20px;
    font-size: 20px;
}

.line-input {
    padding: 5px;
    font-size: 20px;
    border: none;
    border-bottom: solid 1px #ff5a5f;
    background-color: transparent;
    margin-bottom: 30px;
}

.sender ::-webkit-input-placeholder { text-align:right; }
.sender input:-moz-placeholder { text-align:right; }

.btn {
    font-size: 20px;
    font-weight: 300;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 10px 25px;
    border: 2px solid #ff5a5f;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:hover {
  background-color: #ff5a5f;
  color: #f7f7f7;
}

.btn:active {
  background-color: #973637;
}

textarea {
    resize: none;
    width: 100%;
    height: 200px;
}

.back-arrow {
    padding: 20px 0;
    display: inline-block;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: #f7f7f7;
}
